---
interface Props {
  title: string
  imageUrl: string
  href: string
  tags: string[]
}

const { title, imageUrl, href, tags } = Astro.props
---

<article class='rounded-md bg-white p-3'>
  <a href={href}>
    <img
      class='h-64 w-full rounded-t-lg object-cover'
      src={imageUrl}
      alt={title}
    />
  </a>
  <div class='pt-3'>
    <span class='text-[13px] text-primary'>{tags.join(', ')}</span>
    <a href={href}>
      <h5 class='text-lg text-neutral-700'>{title}</h5>
    </a>
  </div>
</article>
